/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>


#define DEFAULT 0
#define NUMBER  1
#define SYMBOL  2
#define HOTKEY  3
#define SETTING 4
#define AS(keycode) &as LS(keycode) keycode




/ {
        behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 0>, <&to 0>, <&to 0>;
        };
        
    };  

         behaviors {
       as: auto_shift {
        compatible = "zmk,behavior-hold-tap";
        label = "AUTO_SHIFT";
        #binding-cells = <2>;
        tapping-term-ms = <160>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
                };
modcp: mod_copy {
        compatible = "zmk,behavior-mod-morph";
        label = "MOD_COPY";
        #binding-cells = <0>;
        bindings = <&as LS(C) C>, <&kp C>;
        mods = <(MOD_LGUI | MOD_RGUI)>;
};
  
        };


    macros {
        macro_phone: macro_phone {
            // 1351
            label = "MACRO_PHONE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = < &kp N1 &kp N3 &kp N5  &kp N1>
                ;
        };
        
        macro_email_g: macro_email_g {
            // 135115
            compatible = "zmk,behavior-macro";
            label = "MACRO_EMAIL_GMAIL";
            #binding-cells = <0>;
            bindings
                = < &kp N1 &kp N3 &kp N5  &kp N1 &kp N1 &kp N5 >
                ;
        };
         
    };
    
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp ESC>;
        };
        
         combo_LSHFT {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp  LSHFT>;
        };
        
            combo_LGUI {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&kp LGUI>;
        };
        
   
          
  };


    keymap {
       compatible = "zmk,keymap";
       default_layer {
            label = "DEFAULT";
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5           &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  AS(MINUS)
&kp ESC   AS(Q)  AS(W)  AS(E) AS(R) AS(T)              AS(Y) AS(U) AS(I) AS(O) AS(P)  AS(EQUAL) 
&kp ENTER AS(A) AS(S) AS(D) AS(F) AS(G)                AS(H) AS(J) AS(K)  AS(L) AS(SEMI) AS(SQT) 
&kp CAPS  AS(Z) AS(X) AS(C) AS(V) AS(B)                AS(N) AS(M) AS(COMMA) AS(DOT) AS(FSLH) AS(BSLH) 
&kp LC(C) &kp LC(V) &kp BSPC &kp SPACE                     &lt 2 LEFT  &lt 1 RIGHT    AS(LBKT)   AS(RBKT)           
&kp LALT &none	&mt LCTRL LSHFT	&mt LGUI DEL 	        &kp LSHFT &kp LALT &none  &lt 3  LGUI

            >;
        };


          number_layer {
            label = "NUMBER";
            bindings = <
    &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6                            &kp F7 &kp F8  &kp F9  &kp F10 &kp F11   &kp F12
    &none &none &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp PLUS      &none &none &none &none &none &none 
    &kp STAR  &kp KP_SLASH  &kp KP_N4 &kp KP_N5  &kp KP_N6 &kp MINUS           &none &none &none &none   &none &none
     &none AS(EQUAL) &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp ENTER               &none &none &none &none &none &none
    &kp KP_N0 &kp KP_DOT  &kp BSPC  &kp SPACE                                   &none &none &none &none
     &trans    &none &none &none                                               &none &none &none &none		

            >;
        };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
&none &none &none &none &none &none                       &none &none &none &none &none &none       
 &kp C_VOL_UP  &kp C_VOL_DN  &kp AMPS  &kp STAR &kp LPAR  &kp RPAR       &none &none &kp UP &none &none &none 
&kp C_BRI_UP &kp C_BRI_DN &kp DLLR   &kp PRCNT   &kp CARET &none      &none &kp LEFT &kp DOWN &kp RIGHT  &none &none 
 &none  &kp GRAVE &kp EXCL  &kp AT   &kp HASH   &none     &none &none &none &none  &none &none
 &none &none &kp C_RW &kp C_FF                                      &none &none &none &none 
 &none &none &none    &none                                   &none &none &none &none                                                                                             
        
         >;
        };


        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR 	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR 
&none	&none	&bootloader	&bootloader	&none	&none	&none	&none	&none	&none	&bootloader	&bootloader		
 &kp N3	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
 &kp N3	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
		&none	&none 	&none	&none	&none	&none	&none	&none		
		&none	&none	&none	&none	&none	&none	&none	&none	
                                                    
            >;
        };



        setting_layer {
            label = "SETTING";
            bindings = <
        &none &none &none &none &none &none                                                  &none &none &none &none &none &none
        &none &none &none &none &none &none                                                  &none &none &none &none &none &none
        &none &none &none &none &none &none                                                  &none &none &none &none &none &none
         &none &none &none &none &none &none                                                  &none &none &none &none &none &none
         &none &none &none &none                                                              &none &none &none &none
          &none &none &none &none                                                              &none &none &none &none  
           >;
       };
   };
};

